$headertextcolor:#252B42;
$headerfontfamily:  'Montserrat', sans-serif;
$secondtexcolor:#737373;
$headergreen: #96BB7C;
$mainwhite:#FFFFFF;
$bodygreen:#EFF8ED;
$footercolor:#FAFAFA;
$orange:#E74040;
$black:black;
$gray:#2D4059;
$yellow:#FFCE31;
$grey:#BDBDBD;
